 * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eef2f7;
      font-family: Arial, sans-serif;
    }

    .product-box {
      width: 360px;
      padding: 25px;
      margin: 20px;
      background: white;
      border: 2px solid #d9e2ec;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 8px 20px #00000020;
    }

    .product-box img {
      width: 100%;
      height: 210px;
      border-radius: 10px;
    }

    .product-box h1 {
      color: #000000;
      font-size: 30px;
      margin: 30px 0 10px;
    }

    .product-box p {
      color: #555;
    }

    .price {
      color: #e80422 ;
      font-size: 35px;
      font-weight: bold;
    }

    button {
      width: 100%;
      padding: 14px;
      border: none;
      border-radius: 6px;
      background: #e85d04;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background: #15af0f;
    }

    #message {
      color: green;
      font-weight: bold;
    }